# Project exclude paths
/cmake-build-debug/
/.idea/vcs.xml
/build/CMakeFiles/3.26.3/CompilerIdC/a.out
/build/html/search/all_0.html
/build/html/search/all_0.js
/build/html/search/all_1.html
/build/html/search/all_1.js
/build/html/search/all_2.html
/build/html/search/all_2.js
/build/html/search/all_3.html
/build/html/search/all_3.js
/build/html/search/all_4.html
/build/html/search/all_4.js
/build/html/search/all_5.html
/build/html/search/all_5.js
/build/html/search/all_6.html
/build/html/search/all_6.js
/build/html/search/all_7.html
/build/html/search/all_7.js
/build/html/search/all_8.html
/build/html/search/all_8.js
/build/html/search/all_9.html
/build/html/search/all_9.js
/build/html/search/all_10.html
/build/html/search/all_10.js
/build/html/search/all_11.html
/build/html/search/all_11.js
/build/html/search/all_12.html
/build/html/search/all_12.js
/build/html/search/all_a.html
/build/html/search/all_a.js
/build/html/search/all_b.html
/build/html/search/all_b.js
/build/html/search/all_c.html
/build/html/search/all_c.js
/build/html/search/all_d.html
/build/html/search/all_d.js
/build/html/search/all_e.html
/build/html/search/all_e.js
/build/html/search/all_f.html
/build/html/search/all_f.js
/build/html/annotated.html
/build/html/bc_s.png
/build/html/bdwn.png
/build/CMakeFiles/clang-tidy-client.dir/build.make
/build/CMakeFiles/clang-tidy-echo.dir/build.make
/build/CMakeFiles/clang-tidy-process-server.dir/build.make
/build/CMakeFiles/client.dir/build.make
/build/CMakeFiles/doxygen.dir/build.make
/build/CMakeFiles/echo.dir/build.make
/build/CMakeFiles/process-server.dir/build.make
/build/html/classes.html
/build/html/search/classes_0.html
/build/html/search/classes_0.js
/build/html/search/classes_1.html
/build/html/search/classes_1.js
/build/html/search/classes_2.html
/build/html/search/classes_2.js
/build/html/search/classes_3.html
/build/html/search/classes_3.js
/build/html/search/classes_4.html
/build/html/search/classes_4.js
/build/client
/build/html/search/close.svg
/build/html/closed.png
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/clang-tidy-client.dir/cmake_clean.cmake
/build/CMakeFiles/clang-tidy-echo.dir/cmake_clean.cmake
/build/CMakeFiles/clang-tidy-process-server.dir/cmake_clean.cmake
/build/CMakeFiles/client.dir/cmake_clean.cmake
/build/CMakeFiles/doxygen.dir/cmake_clean.cmake
/build/CMakeFiles/echo.dir/cmake_clean.cmake
/build/CMakeFiles/process-server.dir/cmake_clean.cmake
/build/CMakeFiles/cmake_directory_clean.cmake
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/CMakeFiles/3.26.3/CMakeCCompiler.cmake
/build/CMakeFiles/3.26.3/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/CMakeConfigureLog.yaml
/build/CMakeFiles/3.26.3/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeDoxyfile.in
/build/CMakeDoxygenDefaults.cmake
/build/CMakeFiles/CMakeRuleHashes.txt
/build/CMakeFiles/3.26.3/CMakeSystem.cmake
/build/compile_commands.json
/build/CMakeFiles/client.dir/compiler_depend.internal
/build/CMakeFiles/echo.dir/compiler_depend.internal
/build/CMakeFiles/process-server.dir/compiler_depend.internal
/build/CMakeFiles/clang-tidy-client.dir/compiler_depend.make
/build/CMakeFiles/clang-tidy-echo.dir/compiler_depend.make
/build/CMakeFiles/clang-tidy-process-server.dir/compiler_depend.make
/build/CMakeFiles/client.dir/compiler_depend.make
/build/CMakeFiles/doxygen.dir/compiler_depend.make
/build/CMakeFiles/echo.dir/compiler_depend.make
/build/CMakeFiles/process-server.dir/compiler_depend.make
/build/CMakeFiles/clang-tidy-client.dir/compiler_depend.ts
/build/CMakeFiles/clang-tidy-echo.dir/compiler_depend.ts
/build/CMakeFiles/clang-tidy-process-server.dir/compiler_depend.ts
/build/CMakeFiles/client.dir/compiler_depend.ts
/build/CMakeFiles/doxygen.dir/compiler_depend.ts
/build/CMakeFiles/echo.dir/compiler_depend.ts
/build/CMakeFiles/process-server.dir/compiler_depend.ts
/build/CMakeFiles/echo.dir/src/database.c.o
/build/CMakeFiles/echo.dir/src/database.c.o.d
/database.dir
/database.pag
/build/html/database_8c.html
/build/html/database_8c__incl.map
/build/html/database_8c__incl.md5
/build/html/database_8c__incl.png
/build/html/database_8h.html
/build/html/database_8h__dep__incl.map
/build/html/database_8h__dep__incl.md5
/build/html/database_8h__dep__incl.png
/build/html/database_8h__incl.map
/build/html/database_8h__incl.md5
/build/html/database_8h__incl.png
/build/html/database_8h_source.html
/build/html/search/defines_0.html
/build/html/search/defines_0.js
/build/html/search/defines_1.html
/build/html/search/defines_1.js
/build/html/search/defines_2.html
/build/html/search/defines_2.js
/build/html/search/defines_3.html
/build/html/search/defines_3.js
/build/html/search/defines_4.html
/build/html/search/defines_4.js
/build/CMakeFiles/client.dir/depend.make
/build/CMakeFiles/echo.dir/depend.make
/build/CMakeFiles/process-server.dir/depend.make
/build/CMakeFiles/clang-tidy-client.dir/DependInfo.cmake
/build/CMakeFiles/clang-tidy-echo.dir/DependInfo.cmake
/build/CMakeFiles/clang-tidy-process-server.dir/DependInfo.cmake
/build/CMakeFiles/client.dir/DependInfo.cmake
/build/CMakeFiles/doxygen.dir/DependInfo.cmake
/build/CMakeFiles/echo.dir/DependInfo.cmake
/build/CMakeFiles/process-server.dir/DependInfo.cmake
/build/html/dir_000001_000000.html
/build/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
/build/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.map
/build/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.md5
/build/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.png
/build/html/dir_d44c64559bbebec7f509842c48db8b23.html
/build/html/doc.png
/build/Doxyfile.doxygen
/build/html/doxygen.css
/build/html/doxygen.svg
/build/html/dynsections.js
/build/CMakeFiles/echo.dir/src/echo.c.o
/build/CMakeFiles/echo.dir/src/echo.c.o.d
/build/html/echo_8c.html
/build/html/echo_8c__incl.map
/build/html/echo_8c__incl.md5
/build/html/echo_8c__incl.png
/build/CMakeFiles/echo.dir/src/error.c.o
/build/CMakeFiles/echo.dir/src/error.c.o.d
/build/html/error_8c.html
/build/html/error_8c__incl.map
/build/html/error_8c__incl.md5
/build/html/error_8c__incl.png
/build/html/error_8h.html
/build/html/error_8h__dep__incl.map
/build/html/error_8h__dep__incl.md5
/build/html/error_8h__dep__incl.png
/build/html/error_8h_source.html
/build/html/files.html
/build/html/search/files_0.html
/build/html/search/files_0.js
/build/html/search/files_1.html
/build/html/search/files_1.js
/build/html/search/files_2.html
/build/html/search/files_2.js
/build/html/search/files_3.html
/build/html/search/files_3.js
/build/CMakeFiles/client.dir/flags.make
/build/CMakeFiles/echo.dir/flags.make
/build/CMakeFiles/process-server.dir/flags.make
/build/html/folderclosed.png
/build/html/folderopen.png
/build/html/functions.html
/build/html/search/functions_0.html
/build/html/search/functions_0.js
/build/html/search/functions_1.html
/build/html/search/functions_1.js
/build/html/search/functions_2.html
/build/html/search/functions_2.js
/build/html/search/functions_3.html
/build/html/search/functions_3.js
/build/html/search/functions_4.html
/build/html/search/functions_4.js
/build/html/search/functions_5.html
/build/html/search/functions_5.js
/build/html/search/functions_6.html
/build/html/search/functions_6.js
/build/html/search/functions_7.html
/build/html/search/functions_7.js
/build/html/search/functions_8.html
/build/html/search/functions_8.js
/build/html/search/functions_9.html
/build/html/search/functions_9.js
/build/html/functions_vars.html
/build/html/globals.html
/build/html/globals_defs.html
/build/html/globals_func.html
/build/html/globals_type.html
/build/html/graph_legend.html
/build/html/graph_legend.md5
/build/html/graph_legend.png
/build/html/index.html
/build/html/jquery.js
/build/libecho.so
/build/CMakeFiles/client.dir/link.txt
/build/CMakeFiles/echo.dir/link.txt
/build/CMakeFiles/process-server.dir/link.txt
/build/html/search/mag_sel.svg
/build/CMakeFiles/client.dir/src/main-client.c.o
/build/CMakeFiles/client.dir/src/main-client.c.o.d
/build/html/main-client_8c.html
/build/html/main-client_8c__incl.map
/build/html/main-client_8c__incl.md5
/build/html/main-client_8c__incl.png
/build/CMakeFiles/process-server.dir/src/main-process-server.c.o
/build/CMakeFiles/process-server.dir/src/main-process-server.c.o.d
/build/html/main-process-server_8c.html
/build/html/main-process-server_8c__incl.map
/build/html/main-process-server_8c__incl.md5
/build/html/main-process-server_8c__incl.png
/build/Makefile
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/html/menu.js
/build/html/menudata.js
/build/html/nav_f.png
/build/html/nav_g.png
/build/html/nav_h.png
/build/html/search/nomatches.html
/build/html/open.png
/build/process-server
/build/html/processor_8h.html
/build/html/processor_8h__dep__incl.map
/build/html/processor_8h__dep__incl.md5
/build/html/processor_8h__dep__incl.png
/build/html/processor_8h__incl.map
/build/html/processor_8h__incl.md5
/build/html/processor_8h__incl.png
/build/html/processor_8h_source.html
/build/CMakeFiles/clang-tidy-client.dir/progress.make
/build/CMakeFiles/clang-tidy-echo.dir/progress.make
/build/CMakeFiles/clang-tidy-process-server.dir/progress.make
/build/CMakeFiles/client.dir/progress.make
/build/CMakeFiles/doxygen.dir/progress.make
/build/CMakeFiles/echo.dir/progress.make
/build/CMakeFiles/process-server.dir/progress.make
/build/CMakeFiles/progress.marks
/build/html/search/search.css
/build/html/search/search.js
/build/html/search/search_l.png
/build/html/search/search_m.png
/build/html/search/search_r.png
/build/html/search/searchdata.js
/build/html/splitbar.png
/build/html/structhttp__request.html
/build/html/structmessage__handler.html
/build/html/structrevive__message.html
/build/html/structserver__info.html
/build/html/structsettings.html
/build/html/structworker__info.html
/build/html/structworker__info__coll__graph.map
/build/html/structworker__info__coll__graph.md5
/build/html/structworker__info__coll__graph.png
/build/html/sync_off.png
/build/html/sync_on.png
/build/html/tab_a.png
/build/html/tab_b.png
/build/html/tab_h.png
/build/html/tab_s.png
/build/html/tabs.css
/build/CMakeFiles/TargetDirectories.txt
/build/html/search/typedefs_0.html
/build/html/search/typedefs_0.js
/build/html/search/typedefs_1.html
/build/html/search/typedefs_1.js
/build/html/search/typedefs_2.html
/build/html/search/typedefs_2.js
/build/html/search/variables_0.html
/build/html/search/variables_0.js
/build/html/search/variables_1.html
/build/html/search/variables_1.js
/build/html/search/variables_2.html
/build/html/search/variables_2.js
/build/html/search/variables_3.html
/build/html/search/variables_3.js
/build/html/search/variables_4.html
/build/html/search/variables_4.js
/build/html/search/variables_5.html
/build/html/search/variables_5.js
/build/html/search/variables_6.html
/build/html/search/variables_6.js
/build/html/search/variables_7.html
/build/html/search/variables_7.js
/build/html/search/variables_8.html
/build/html/search/variables_8.js
/build/html/search/variables_9.html
/build/html/search/variables_9.js
/build/html/search/variables_10.html
/build/html/search/variables_10.js
/build/html/search/variables_11.html
/build/html/search/variables_11.js
/build/html/search/variables_a.html
/build/html/search/variables_a.js
/build/html/search/variables_b.html
/build/html/search/variables_b.js
/build/html/search/variables_c.html
/build/html/search/variables_c.js
/build/html/search/variables_d.html
/build/html/search/variables_d.js
/build/html/search/variables_e.html
/build/html/search/variables_e.js
/build/html/search/variables_f.html
/build/html/search/variables_f.js
